/* src/style.css */
@tailwind base;

::scrollbar {
  width: 10px;
  height: 10px;
  background-color: #4f46e5;
}

::scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 10px;
}

@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #6366f1 #c7d2fe;
}
